{# templates/frontend/base.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets "frontend_bundle_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <title>{{ title }}</title>
</head>

<body class="bg-slate-50">
    <div>
        {% include "frontend/components/header.html" %}

        {% block content %}
            {{ content }}
        {% endblock %}
        
        {% include "frontend/components/footer.html" %}
    </div>

    {% assets "frontend_bundle_js" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>
</html>