{% set title = "Main" %} 
{% extends "frontend/base.html" %}

{% block content %}
<div class="">
    <div class="md:container md:mx-auto px-4 py-4">
        <h1>Microservices</h1>
        <p>...what we do...</p>
    </div>
</div>
<div class="bg-white">  
    <div class="md:container md:mx-auto px-4 py-4">
        <h1>Tehnologies</h1>
        <p>
            <ul>
                <li>NGinxxx</li>
                <li>Python</li>
                <li>MySQL</li>
            </ul>
        </p>
    </div>
</div>
<div>  
    <div class="md:container md:mx-auto px-4">
        <div class="py-4">
            <h1>Develop and deploy</h1>
            <p>...what we do...</p>
        </div>
        <div class="py-4">
            <h1>Frontend</h1>
            <p>...what we do...</p>
        </div>
        <div class="py-4">
            <h1>Admin</h1>
            <p>...what we do...</p>
            <a href="/admin" target="_blank" class="btn">Admin</a>
        </div>
        <div class="py-4">
            <h1>APIs</h1>
            <p>...what we do...</p>
            <a href="/api/hello" target="_blank" class="btn">API</a>
            <img src="{{ url_for('static', filename='img/flask5.png') }}">
        </div>
    </div>
</div>
<div class="bg-slate-200">  
    <div class="md:container md:mx-auto px-4 py-4">
        <h1>News</h1>
        <p>...what we do...</p>
    </div>
</div>
<div>  
    <div class="md:container md:mx-auto px-4 p-4">
        <h1>Contact</h1>
        <p>...what we do...</p>
        <div>
            <form action="/send-form" method="POST">
                {{ form.csrf_token }}
                <div class="">
                    <label for="name" class="block text-gray-700 text-sm font-bold mb-2">{{ form.name.label }}</label>
                    {{ form.name() }}
                </div>
                <div class="">
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">{{ form.email.label }}</label>
                    {{ form.email() }}
                </div>
                <div class="">
                    <label for="message" class="block text-gray-700 text-sm font-bold mb-2">{{ form.message.label }}</label>
                    {{ form.message() }}
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}