{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="md:container md:mx-auto px-4 py-4">
        <h3 class="title">Login</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    <ul>
                        {% for msg in messages %}
                            <li>{{ msg }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('auth.login') }}">
                {{ form.csrf_token }}
                <div class="">
                    <label for="email" class="block text-gray-700 text-sm font-bold mb-2">{{ form.email.label }}</label>
                    {{ form.email() }}
                </div>
                <div class="">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">{{ form.password.label }}</label>
                    {{ form.password() }}
                </div>
                <div class="">
                    <label for="remember" class="block text-gray-700 text-sm font-bold mb-2">{{ form.remember.label }}</label>
                    {{ form.remember() }}
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit</button>
            </form>
        </div>
    </div>
</div>    
{% endblock %}